<section>
    <h1>Education</h1>
    <article>
        <aside>
            <h3>Technology College</h3>
            <figure>
                <img src="../../assets/img/fatec.jpeg" alt="fatec">
            </figure>
            <h4>Degree - Tecnology in Digital Games</h4>
        </aside>
        <aside>
            <h3>University of São Paulo</h3>
            <figure>
                <img src="../../assets/img/usp.png" alt="usp">
            </figure>
            <h4>MBA - Data Science and Analytics</h4>
        </aside>
        <aside>
            <h3>Tamwood Careers College</h3>
            <figure>
                <img src="../../assets/img/tamwood.jpeg" alt="tamwood">
            </figure>
            <h4>Certificate - Web Development</h4>
        </aside>
    </article>
</section>
