<section>
    <article class="first">
        <figure><img src="../../assets/img/pokemon_piplup.png" alt="aa"></figure>
        <aside>
            <a href="https://github.com/LuhPaglia" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/lucas-paglia-bb0b33163/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </aside>
    </article>
    <article>
        <h2>Lucas Paglia Grisa</h2>
        <h3>Software Engineering</h3>
        <p>
            I’m a Software Developer with 5 years of experience. The main technologies that I worked with is Java, Spring Framework, Microservices Architecture and relational (SQL Server, Oragle, PostgreSql and MySQL) and non-relational (Mongo.DB and DynamoDB) databases. During my career I already worked as FullStack with Angula.js and React.js; AWS and Google Cloud tools; CI/CDs; GIT; Docker, Kubernetes and Agile Methodologies.        </p>
    </article>
</section>
