<section>
    <h1>Development Work Experience</h1>
    <article>
        <aside>
            <div>
                <h2>Sysmap/Claro</h2>
                <figure>
                    <img src="../../assets/img/sysmap.png" alt="img">
                    <img src="../../assets/img/claro.png" alt="img">
                </figure>
                <h3>Back End Developer</h3>
                <aside>
                    <p>
                        Outsourced for one of the biggest telecom group from Mexico in Brazil, I worked as Back End Developer. Application using micro services and Spring Framework responsible to validated new phone number until keep the auto manager of user number account.. Also, worked in a continuous delivery following agile methodologies, half Scrum and half Kanban.                    
                    </p>
                    <ul>
                        <li>Developed and maintained 50+ functionalities with Spring framework until now;</li>
                        <li>Reviewed many pull requests on GitHub.</li>
                        <li>Used Postman to access and test REST API;</li>
                        <li>Used Postgres database to store data;</li>
                        <li>Maintained and monitored pipelines using Jenkins;</li>
                        <li>Cloud infrastructure AWS for services and Database;</li>
                        <li>Used JIRA to management tasks;</li>
                        <li>Participated from different meetings as growmings, plannings, retrospective and tech meetings;</li>
                        <li>Mentored new employees.</li>
                    </ul>
                </aside>
            </div>
            <div>
                <h2>zFlow/ITAU</h2>
                <figure>
                    <img src="../../assets/img/zflow.jpeg" alt="img">
                    <img src="../../assets/img/itau.png" alt="img">
                </figure>
                <h3>Back End Developer</h3>
                <aside>
                    <p>
                        Outsourced for one of the biggest financing companies from Brazil, I worked as Back End Developer. API application responsible to simulate a financing, was the application for the dealer. Also, worked in a continuous delivery following agile methodologies, half Scrum and half Kanban.
                    </p>
                    <ul>
                        <li>Developed and maintained 250+ functionalities with Spring framework;</li>
                        <li>Reviewed many pull requests on GitHub.</li>
                        <li>Used Postman to access and test REST API;</li>
                        <li>Used MongoDB database to store data;</li>
                        <li>Maintained and monitored pipelines using AWS code build;</li>
                        <li>Used JIRA to management tasks;</li>
                        <li>Managed containers using Docker;</li>
                        <li>Cloud infrastructure AWS for services and Database;</li>
                        <li>Participated from different meetings as growmings, plannings, retrospective and tech meetings;</li>
                        <li>Mentored new employees.</li>
                    </ul>
                </aside>
            </div>
        </aside>
        <aside>
            <div>
                <h2>QUOD</h2>
                <figure>
                    <img src="../../assets/img/quod.png" alt="img">
                </figure>
                <h3>Full Stack Developer</h3>
                <aside>
                    <p>
                        I worked as Full Stack Software Developer for a Fintech responsible to brazilian PIX. PIX is the Brazilian IP scheme that enables its users — people, companies and governmental entities — to send or receive payment transfers in few seconds at any time. I worked with continuous delivery following agile methodologies, half Scrum and half Kanban.
                    </p>
                    <ul>
                        <li>Developed and maintained 200+ functionalities, some front end ones with React and another back end ones with Spring framework — Microservices architecture.</li>
                        <li>Reviewed many pull requests on GitHub.</li>
                        <li>Used Postman to access and test REST API;</li>
                        <li>Used SQL database to store data;</li>
                        <li>Maintained and monitored pipelines using Jenkins CI/CD tool;</li>
                        <li>Used JIRA to management tasks;</li>
                        <li>Managed containers using Docker;</li>
                        <li>Cloud infrastructure AWS for services and Database;</li>
                        <li>Participated from different meetings as growmings, plannings, retrospective and tech meetings;</li>
                        <li>Mentored new employees.</li>
                    </ul>
                </aside>
            </div>
            <div>
                <h2>UOL</h2>
                <figure>
                    <img src="../../assets/img/uol.jpeg" alt="img">
                </figure>
                <h3>Full Stack Developer</h3>
                <aside>
                    <p>
                        I worked as Full Stack Software Developer for the most visited digital producted in Brazil, Universo Online, with Java and JavaScript.  The app that I used to work was the  Digital Customer Service one in a continuous delivery following agile methodologies, half Scrum and half Kanban.
                    </p>
                    <ul>
                        <li>Developed and maintained 50+ functionalities, some front end ones with AngularJS and another back end ones with NodeJS and Spring framework  — Microservices architecture.</li>
                        <li>Developed and maintained 50+ Unit Tests. </li>
                        <li>Reviewed many pull requests on GitHub.</li>
                        <li>Used Postman to access and test REST API;</li>
                        <li>Used SQL database to store data;</li>
                        <li>Maintained and monitored pipelines using Jenkins CI/CD tool;</li>
                        <li>Used JIRA to management tasks;</li>
                        <li>Managed containers using Docker and Kubernets;</li>
                        <li>Cloud infrastructure AWS for services and Database;</li>
                        <li>Participated from different meetings as growmings, plannings, retrospective and tech meetings.</li>
                    </ul>
                </aside>
            </div>
        </aside>
        <aside>
            <div>
                <h2>VisualMix</h2>
                <figure>
                    <img src="../../assets/img/visualmix.jpeg" alt="img">
                </figure>
                <h3>Back End Developer</h3>
                <aside>
                    <p>
                        I worked as Software Developer for an integration application, VB6 and Java based, with continuous delivery. The app goal was to integrate a external with the internal CRM.                    
                    </p>
                    <ul>
                        <li>Developed and maintained 200+ functionalities with VB6 and Java;</li>
                        <li>Reviewed many pull requests on SVN;</li>
                        <li>Developed REST API with Spring framework;</li>
                        <li>Used Oracle, Postgres and SQL Server database;</li>
                        <li>Responsible many times to share all the achievements and updates to the client.</li>
                    </ul>
                </aside>
            </div>
            <div>
                <h2>SuperGeeks</h2>
                <figure>
                    <img src="../../assets/img/supergeeks.png" alt="img">
                </figure>
                <h3>Software Programming Instructor</h3>
                <aside>
                    <p>
                        Professor in Game developer and Computer science in a school for kids.
                    </p>
                </aside>
            </div>
        </aside>
    </article>
</section>
