<section>
    <h1>Skills</h1>
    <article>
        <h2>Back End</h2>
        <figure>
            <img src="../../assets/img/backend.png" alt="logo">
            <img src="../../assets/img/java.png" alt="logo">
            <img src="../../assets/img/sprinfoficial.png" alt="logo">
            <img src="../../assets/img/quarkus.png" alt="logo">
            <img src="../../assets/img/JavaScript-logo.png" alt="logo">
            <img src="../../assets/img/nodejs.png" alt="logo">
        </figure>
    </article>
    <article>
        <h2>Front End</h2>
        <figure>
            <img src="../../assets/img/front.png" alt="logo">
            <img src="../../assets/img/html.png" alt="logo">
            <img src="../../assets/img/css.png" alt="logo">
            <img src="../../assets/img/angular.png" alt="logo">
            <img src="../../assets/img/react.png" alt="logo">
            <img src="../../assets/img/vue.png" alt="logo">
        </figure>
    </article>
    <article>
        <h2>Database</h2>
        <figure>
            <img src="../../assets/img/database.png" alt="logo">
            <img src="../../assets/img/postgres.png" alt="logo">
            <img src="../../assets/img/oracle.png" alt="logo">
            <img src="../../assets/img/mariadb.png" alt="logo">
            <img src="../../assets/img/mysql.png" alt="logo">
            <img src="../../assets/img/mongo.png" alt="logo">
        </figure>
    </article>
    <article>
        <h2>Server</h2>
        <figure>
            <img src="../../assets/img/docker.webp" alt="logo">
            <img src="../../assets/img/kubernetes.png" alt="logo">
            <img src="../../assets/img/aws.png" alt="logo">
            <img src="../../assets/img/git.png" alt="logo">
            <img src="../../assets/img/jenkins.png" alt="logo">
            <img src="../../assets/img/azure.png" alt="logo">
        </figure>
    </article>
</section>
