section{
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7vh;
    h1{
        font-size: 46px;
    }
    h2{
        font-size: 36px;
    }
    h3{
        font-size: 26px;
        text-align: center;
    }
    figure{
        display: flex;
        column-gap: 5vh;
        justify-content: center;
        img{
            width: 20vh;
            height: 20vh;
        }
    }
}