
section{
  padding: 1%;
  padding-top: 6%;
}
header{
    background-color:rgba(47, 51, 61, 0.5);
    height: 7%;
    width: 100%;
    padding: 1%;
    display: flex;
    position: fixed;
    ul{
      display: flex;
      column-gap: 10vh;
      width: 100%;
    }
    li{
      display: flex;
      a{
        color: white;
        font-weight: 600;
        text-decoration: none;
        font-size: 16px;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    button, label{
      margin-right: 5vh;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 54px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    font-size: 48px;
    text-align: center;
    line-height: 1;
    content: "\2742";
    height: 46px;
    width: 46px;
    left: 8px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  footer{
    padding: 1%;
    text-align: center;
    background-color:rgba(47, 51, 61, 0.5);
    color: white;
    font-weight: 600;
    font-size: 16px;
  }